'scopeName': 'source.kerboscript'
'name': 'KerboScript'
'fileTypes': ['ks']
'patterns': [
  {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.kerboscript'
  }
  {
    'comment': 'string literal'
    'name': 'string.quoted.double.kerboscript'
    'begin': '\\"'
    'end': '\\"'
  }
  {
    'comment': 'comment line'
    'name': 'comment.line.double-slash.kerboscript'
    'begin': '//'
    'end': '\\n'
  }
  {
    'match': '(\\.)\\b'
    'name': 'punctuation.terminator.kerboscript'
  }
  {
    'comment': 'flow control conditionals'
    'match': '\\b(?i:(if|else|choose|when|then|on))\\b'
    'name': 'keyword.control.conditional.kerboscript'
  }
  {
    'comment': 'flow control loops'
    'match': '\\b(?i:(until|for|in|from|step|do|wait until))\\b'
    'name': 'keyword.control.repeat.kerboscript'
  }
  {
    'comment': 'flow control statements'
    'match': '\\b(?i:(break|wait|preserve))\\b'
    'name': 'keyword.control.statement.kerboscript'
  }
  {
    'comment': 'boolean keywords'
    'match': '\\b(?i:(and|or|not))\\b'
    'name': 'keyword.operator.logical.kerboscript'
  }
  {
    'comment': 'comparison operators'
    'match': '(<\\=|>\\=|<|>|<>|\\=)'
    'name': 'keyword.operator.comparison.kerboscript'
  }
  {
    'comment': 'arithmetic operators'
    'match': '(\\+|\\-|\\*|/|\\^|\\(|\\))'
    'name': 'keyword.operator.arithmetic.kerboscript'
  }
  {
    'comment': 'mathematical constants'
    'match': '\\b(?i:(g|g0|e|pi|c|atmtokpa|kpatoatm|degtorad|radtodeg|avogadro|boltzmann|idealgas))\\b'
    'name': 'support.constant.kerboscript'
  }
  {
    'comment': 'mathematical functions'
    'match': '\\b(?i:(abs|ceiling|floor|ln|log10|mod|min|max|random|round|sqrt|char|unchar|sin|cos|tan|arcsin|arccos|arctan|arctan2))\\b'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'language constants'
    'match': '\\b(?i:(true|false|red|green|blue|yellow|cyan|magenta|purple|white|black))\\b'
    'name': 'support.constant.kerboscript'
  }
  {
    'comment': 'assignment keywords'
    'match': '\\b(?i:(declare|to|is|parameter|set|unset|defined|lock|unlock|toggle|on|off))\\b'
    'name': 'keyword.operator.assignment.kerboscript'
  }
  {
    'match': '\\b(?i:(global|local|parameter))\\b'
    'name': 'storage.modifier.kerboscript'
  }
  {
    'comment': 'support functions'
    'match': '\\b(?i:(add|remove|stage|clearscreen|reboot|shutdown|batch|deploy))\\b'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'deprecated support functions'
    'match': '\\b(?i:(copy|rename|delete))\\b'
    'name': 'invalid.deprecated.kerboscript'
  }
  {
    'comment': 'support variables'
    'match': '\\b(?i:(rgb|rgba|waypoint|allwaypoints|nextnode|ship|soi|mapview|version|sessiontime|time|config|terminal|eta|addons))\\b'
    'name': 'constant.language.kerboscript'
  }
  {
    'comment': 'I/O functions'
    'match': '\\b(?i:(path|scriptpath|volume|cd|copypath|movepath|deletepath|runpath|runoncepath|exists|create|createdir|open|writejson|readjson|list|switch to|run|log|compile|edit))\\b'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'VersionInfo structure members'
    'match': '\\:(?i:(major|minor|patch|build))'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'bound variables'
    'match': '\\b(?i:(throttle|steering|wheelthrottle|wheelsteering|ship|target|encounter|alt|heading|prograde|retrograde|facing|maxthrust|velocity|geoposition|latitude|longitude|up|north|body|angularmomentum|angularvel|angularvelocity|commrange|mass|verticalspeed|surfacespeed|airspeed|vesselname|altitude|apoapsis|periapsis|sensor|srfprograde|srfrerograde|obt|status|vesselname))\\b'
    'name': 'constant.language.kerboscript'
  }
  {
    'comment': 'bound toggleables'
    'match': '\\b(?i:(sas|rcs|gear|legs|chutes|lights|panels|brakes|abort|ag[1-9][0-9]|ag[0-9]))\\b'
    'name': 'constant.language.kerboscript'
  }
  {
    'comment': 'base structure members'
    'match': '\\:(?i:(tostring|hassuffix|suffixnames|isserializable|typename|istype|inheritance))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'alt structure members'
    'match': '\\:(?i:(apoapsis|periapsis|radar))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'eta structure members'
    'match': '\\:(?i:(apoapsis|periapsis|transition))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'list functions'
    'match': '\\b(?i:(list|bodies|targets|resources|parts|engines|sensors|elements|dockingports|files|volumes))\\b'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'directional functions'
    'match': '\\b(?i:(r|q|heading|lookdirup|angleaxis|rotatefromto))\\b'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'directional structure members'
    'match': '\\:(?i:(vector|forevector|topvector|upvector|starvector|rightvector|inverse))'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'vector functions'
    'match': '\\b(?i:(vdot|vectordotproduct|vcrs|vectorcrossproduct|vang|vectorangle|vxcl|vectorexclude))\\b'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'vector structure members'
    'match': '\\:(?i:(x|y|z|normalized|sqrmagnitude|direction|vec))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'geographical structure members'
    'match': '\\:(?i:(lat|lng|distance|terrainheight|heading|bearing|position|altitudeposition))'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'orbit structure members'
    'match': '\\:(?i:(name|apoapsis|periapsis|body|period|inclination|eccentricity|semimajoraxis|semiminoraxis|lan|longitudeofascendingnode|argumentofperiapsis|trueanomaly|meananomalyatepoch|transition|position|velocity|nextpatch|hasnextpatch))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'orbitable structure members'
    'match': '\\:(?i:(orbit|surface|name|body|hasbody|hasorbit|hasobt|obt|up|north|prograde|srfprograde|retrograde|srfretrograde|position|velocity|distance|direction|latitude|longitude|altitude|geoposition|patches))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'atmosphere structure members'
    'match': '\\:(?i:(body|exists|oxygen|scale|sealevelpressure|height))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'body structure members'
    'match': '\\:(?i:(name|description|mass|altitude|rotationperiod|radius|mu|atm|angularvel|geopositionof|altitudeof))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'aggregateresource structure members'
    'match': '\\:(?i:(name|amount|capacity|parts))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'dockingport structure members'
    'match': '\\:(?i:(aquirerange|aquireforce|aquire|torque|reengageddistance|dockedshipname|portfacing|state|targetable))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'dockingport functions'
    'match': '\\:(?i:(undock))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'engine structure members'
    'match': '\\:(?i:(thrustlimit|maxthrust|thrust|fuelflow|isp|flameout|ignition|allowrestart|allowshutdown|throttlelock))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'engine functions'
    'match': '\\:(?i:(activate|shutdown))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'gimbal structure members'
    'match': '\\:(?i:(range|responsespeed|pitchangle|yawangle|rollangle|lock))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'maneuvernode structure members'
    'match': '\\:(?i:(deltav|burnvector|eta|prograde|radialout|normal|orbit))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'part structure members'
    'match': '\\:(?i:(name|title|mass|drymass|wetmass|tag|controlfrom|stage|cid|uid|rotation|position|facing|bounds|resources|targetable|ship|modules|allmodules|parent|hasparent|decoupler|separator|decoupledin|separatedin|hasphysics|children))\\b'
    'captures':
      '1':
        'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'part structure functions'
    'match': '\\:(?i:(getmodule|getmodulebyindex|hasmodule))'
    'captures':
      '1':
        'name': 'support.function.kerboscript'
  }
  {
    'comment': 'partmodule structure members'
    'match': '\\:(?i:(name|part|allfields|allfieldnames|allevents|allactions|allactionnames))\\b'
    'captures':
      '1':
        'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'partmodule structure functions'
    'match': '\\:(?i:(getfield|setfield|doevent|doaction|hasfield|hasevent|hasaction))'
    'captures':
      '1':
        'name': 'support.function.kerboscript'
  }
  {
    'comment': 'sensor structure members'
    'match': '\\:(?i:(active|type|readout|powerconsumption))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'sensor functions'
    'match': '\\b(?i:(toggle))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'stage structure members'
    'match': '\\:(?i:(ready|number|resources))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'vessel structure members'
    'match': '\\:(?i:(control|bearing|heading|maxthrust|availablethrust|facing|bounds|mass|wetmass|drymass|dynamicpressue|q|verticalspeed|groundspeed|airspeeed|termvelocity|shipname|name|status|type|starttracking|angularmomentum|angularvel|sensors|loaded|unpacked|loaddistance|isdead|patches|rootpart|controlpart|parts|dockingports|elements|resources|crewcapacity|connection|messages))\\b'
    'captures':
      '1':
        'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'vessel structure functions'
    'match': '\\:(?i:(maxthrustat|availablethrustat|partsnamed|partsnamedpattern|partstitled|partstitledpattern|partstagged|partstaggedpattern|partsdubbed|partsdubbedpattern|modulesnamed|partsingroup|modulesingroup|allpartstagged|crew))\\b'
    'captures':
      '1':
        'name': 'support.function.kerboscript'
  }
  {
    'comment': 'vesselsensors structure members'
    'match': '\\:(?i:(acc|pres|temp|grav|light))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'resource structure members'
    'match': '\\:(?i:(name|amount|capacity|toggleable|enabled))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'waypoint structure members'
    'match': '\\:(?i:(name|body|geoposition|position|altitude|agl|nearsurface|grounded|index|clustered))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'rgba structure members'
    'match': '\\:(?i:(r|red|g|green|b|blue|a|alpha|html|hex))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'prediction functions'
    'match': '\\b(?i:(positionat|velocityat|orbitat))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'support types'
    'match': '\\b(?i:(v|vector|direction|latlng))\\b'
    'name': 'support.type.kerboscript'
  }
  {
    'comment': 'other keywords'
    'match': '\\b(?i:(print|at|from|in|all))\\b'
    'name': 'keyword.other.kerboscript'
  }
  {
    'match': '\\b(?i:(function))\\b'
    'name': 'storage.function.kerboscript'
  }
  {
    'comment': 'terminal structure members'
    'match': '\\:(?i:(width|height|reverse|visualbeep|brightness|charwidth|charheight))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'time span structure members'
    'match': '\\:(?i:(clock|calendar|second|minute|hour|day|year|seconds))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'collection types'
    'match': '\\b(?i:(lexicon|list|queue|range|stack))\\b'
    'name': 'support.type.kerboscript'
  }
  {
    'comment': 'lexicon structure members'
    'match': '\\:(?i:(add|casesensitive|case|clear|copy|dump|haskey|hasvalue|keys|values|length|remove))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'list structure members'
    'match': '\\:(?i:(add|insert|clear|copy|sublist|join|remove))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'queue structure members'
    'match': '\\:(?i:(push|pop|peek|clear|copy))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'range structure members'
    'match': '\\:(?i:(start|stop|step))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'stack structure members'
    'match': '\\:(?i:(push|pop|peek|clear|copy))\\b'
    'name': 'support.variable.kerboscript'
  }
  {
    'comment': 'compiler directives'
    'match': '^(?i:((@)lazyglobal))\\b'
    'captures':
      '1':
        'name': 'keyword.control.directive.kerboscript'
      '2':
        'name': 'punctuation.definition.directive.kerboscript'
  }
]
